{% extends 'base.html.twig' %}

{% block title %}Détails du code promo -
	{{ promo.title }}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/deal-promo-detail.css') }}">

	<div class="container mt-4">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="alert alert-warning" role="alert">
					Il reste
					{{ remainingTime.days }}
					jours,
					{{ remainingTime.h }}
					heures,
					{{ remainingTime.i }}
					minutes avant la date d'expiration
				</div>
				<div class="card d-flex width-100">
					<div class="img-position">
						<img src="https://via.placeholder.com/300" class="card-img-top" alt="Not found">
					</div>
					<div class="card-body">
						{{ include('partials/degrees.html.twig', {'item': promo}) }}

						<h5 class="card-title title">{{ promo.title }}</h5>
						<h3 class="card-text price">
							<strong>{{ promo.reduction }}%</strong>
						</h3>
						<div class="btn-see">
							<a href="https://www.dealabs.com/bons-plans/mario-strikers-nintendo-switch-2559279" class="btn btn-primary see">
								Code promo :
								{{ promo.code }}
							</a>
						</div>
						{% if promo.marchand %}
							<span class="card-text">
								<i class="fa fa-user"></i>
								Partagé par
								{{ promo.marchand.name }}
							</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-md-8 offset-md-2">
				<div class="card-description" style="padding: 10px">
					<h5>À propos de ce code promo</h5>
					{% if promo.marchand %}
						<h6>Promotion sur le site
							{{ promo.marchand.name }}</h6>
						<hr>
					{% endif %}
					<span>{{ promo.description }}</span>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-md-8 offset-md-2">
				<div class="card-description" style="padding : 10px">
					<h5>Commentaires :
					</h5>
					<hr>
					{% for comment in promo.comments %}
						<span>
							<b>{{comment.user.username}}
								:
							</b>
							{{comment.value}}</span>
						<hr>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px; margin-bottom:10px">
			<div class="col-md-8 offset-md-2">
				<div class="card-description" style="padding: 10px">
					<h5>Ajouter un commentaire :</h5>
					<hr>
					<form method="post" action="{{ path('app_deal_addComment', { 'id': promo.id }) }}">
						<textarea name="comment" style="width:100%"></textarea>
						<button type="submit" class="btn btn-primary see" style="width:100%">Envoyer</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
